.main-page__table-title {
  font-weight: 600;
  font-size: 18px;
  border: solid 2px black;
  border-bottom: none;
}

.main-page__table {
  border-spacing: 0px;
  margin: 20px 10px 0px 20px;
  width: 60%;
  border: solid 2px black;
  border-top: none;
}

.main-page__text-not-selected {
  text-align: center;
  width: 100%;
}

.main-page__product-categories {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: solid #282c34;
  padding: 10px;
  margin-top: 0px;
  border-top: none;
  height: min-content;
}

.main-page {
  display: flex;
}
